# Soft Serve Server configurations

name = "Soft Serve"

[log]
format = "text"
time_format = "2006-01-02 15:04:05"
# path = ""

[ssh]
enabled = true
listen_addr = ":23231"
public_url = "ssh://localhost:23231"
key_path = "ssh/soft_serve_host_ed25519"
client_key_path = "ssh/soft_serve_client_ed25519"
max_timeout = 0
idle_timeout = 600

[git]
enabled = true
listen_addr = ":9418"
public_url = "git://localhost"
max_timeout = 0
idle_timeout = 3
max_connections = 32

[http]
enabled = true
listen_addr = ":23232"
tls_key_path = ""
tls_cert_path = ""
public_url = "http://localhost:23232"

[http.cors]
allowed_headers = [
    "Accept",
    "Accept-Language",
    "Content-Language",
    "Content-Type",
    "Origin",
    "X-Requested-With",
    "User-Agent",
    "Authorization",
    "Access-Control-Request-Method",
    "Access-Control-Allow-Origin"
]
allowed_origins = [
    "http://localhost:23232"
    # "https://example.com"
]
allowed_methods = [
    "GET",
    "HEAD",
    "POST",
    "PUT",
    "OPTIONS"
]

[stats]
enabled = true
listen_addr = "localhost:23233"

[db]
driver = "sqlite"
data_source = "soft-serve.db?_pragma=busy_timeout(5000)&_pragma=foreign_keys(1)"

[lfs]
enabled = true
ssh_enabled = false
