Port 22
Protocol 2
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

PermitRootLogin no
AllowUsers git

PasswordAuthentication no
KbdInteractiveAuthentication no
UsePAM no

AuthorizedKeysCommand /usr/local/bin/auth %f %t %k
AuthorizedKeysCommandUser nobody

AllowAgentForwarding no
AllowTcpForwarding no
X11Forwarding no
